
@media (max-width: 575px){
    .header{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
        align-items: center;
        &__contacts{
            display: none;
        }
        &__phone_icon{
            display: none;
        }
        &__logo{
            margin-bottom: 27px;
            margin-top: 31px;
            transform: translateX(-15%);
            img{
                width: 80%;
            }
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin: 0 auto;
            align-items: center;
        }
        &__divider{
            display: none;
        }
        &::after{
            content: '';
            box-sizing: border-box;
            display: block;
            width: 100%;
            height: 1px;
            border-bottom: 2px solid #d7d7d7;
        }
    }
    .button{
        width: 280px;
        height: 45px;
        border-radius: 3px;
        background-color: #3990ab;
        margin-bottom: 11px;
        margin-right: 0;
    }
    .button-form{
        width: 95%;
    }
    .nav{
        height: 20px;
        background-color: transparent;
        .nav-menu{
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            width: 100%;
            left: -100%;
            opacity: 1;
            transition: all ease 0.6s;
            &:first-child{
                padding-top: 25px;
            }
            &:last-child{
                padding-bottom: 25px;
            }
            &__item{
                width: 100%;
                border: none;
                margin: 16px 0;
            }
            &__link{
                font-size: 16px;
                color: #ffffff;
            }
        }
        .nav-menu.active{
            left: 0;
            position: absolute;
            padding-left: 20px;
            background-color: rgba(19, 19, 19, 0.97);
            }
        .nav-menu__link{
            padding: 0 0 0 10px;
            cursor: pointer;
        }
        .hamburger{
            display: block;
            position: absolute;
            right: 20px;
            padding: 0;
            margin: 0;
            transform: translateY(-400%);
            overflow: hidden;
            width: 46px;
            height: 46px;
            box-shadow: none;
            border-radius: 3px;
            border:none;
            cursor: pointer;
            background-color: transparent;
            &:focus{
                outline: none;
            }
            span{
                display: block;
                top: 20px;
                height: 2px;
                max-width: 40px;
                margin: 0 auto;
                background-color:#3a4750;
                margin: 8px;
                transition: 0.3s all;
            }
        }
        .hamburger.active{
            position: fixed;
            span{
                margin: 0 auto;
                background-color: #ffffff;
                &:nth-child(1){
                    transform: translateY(20px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(20px) rotate(45deg);
                }
            }
        } 
        .dropdown{
            display: none;
        }
    }
    .promo{
        display: none;
    }
    .info{
        display: flex;
        margin-top: 40px;
        .container{
            max-width: 90%;
            flex-direction: column-reverse;
        }
        &__wrapper{
            margin-top: 40px;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
        &__header{
            font-size: 30px;
            transform: translateY(-740%);
            z-index: -999;
        }
        &__text{
            max-width: 95%;
            font-size: 14px;
            display: block;
            height: 310px;
            outline: none;
            overflow: hidden;
            .mobile-button{
                display: block;
                outline: none;
                position: absolute;
                margin: 0 auto;
                width: 90%;
                height: 43px;
                border-radius: 3px;
                background-color: #f1ebd0;
                font-size: 15px;
                font-weight: 400;
                text-align: center;
                color: #5f5733;
                border:none;
            }
        }
        &__text:focus, .mobile-button:focus ~ &__text{
            height: 100%;
        }
        img{
            width: 100%;
            margin-top: 10px;
            display: flex;
            margin-bottom: 0;
        }
        &__img{
            height: 30%;
        }
    }
    .catalog{
        .container{
            max-width: 90%;
            align-items: center;
        }
        &__title{
            padding-top: 36px;
            margin-bottom: 36px;
            font-size: 30px;
        }
        .catalog-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__wrapper{
                max-width: 100%;
            }
            &__content{
                max-width: 100%;
            }
        }
        .catalog-slider .slick-arrow.slick-prev, .catalog-slider .slick-arrow.slick-next{
            display: none;
        }
        .catalog-slider__item {
            padding: 0 0;
        }
        .catalog-slider{
            display: flex;
            flex-direction: column;
            &__item{
                padding: 0 0;
            }
        }
    }
    .map{
        .feedback{
            .container{
                max-width: 95%;
            }
            &__wrapper{
                transform: translateY(80%);
                max-width: 100%;
            }
            &__title{
                margin-bottom: 33px;
                padding-left: 20px;
                text-align: left;
                font-size: 30px;
            }
        }
    }
}