.arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    width: 250px;
    height: 70px;
    &__left{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 47px;
        height: 47px;
        background-color: #ffffff;
        border-radius: 100%;
        cursor: pointer;
        &:before{
            content: '';
            box-sizing: border-box;
            display: block;
            width: 14px;
            height: 14px;
            border-left: 3px solid #337AB7;
            border-bottom: 3px solid #337AB7;
            transform: rotate(45deg);
        }
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 47px;
        height: 47px;
        background-color: #5d8ea8;
        border-radius: 100%;
        margin-left: 60px;
        cursor: pointer;
        &:before{
            content: '';
            box-sizing: border-box;
            display: block;
            width: 14px;
            height: 14px;
            border-left: 3px solid #ffffff;
            border-bottom: 3px solid #ffffff;
            transform: rotate(-135deg);
        }
    }
    &__item{
        display: block;
        font-size: 25px;
        font-weight: 500;
        color: #ffffff;
        padding-left: 130px;
    }
  }
